<footer class="footer">
  <div class="footer-links">
    <a href="https://github.com/mths0" target="_blank" rel="noopener">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/mohannad-alshahrani-921b39254/" target="_blank" rel="noopener">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>

  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</footer>