<%- include("./partials/header.ejs") %>

<main class="page">
  <div class="posts-container">
    <div class="post-card">
      <h2 class="form-title">Talk To The World</h2>
      <p class="form-subtitle">Write your thoughts and share them with The World</p>

      <form action="/post" method="post" class="post-form">
        <div class="form-row">
          <label for="title">Title</label>
          <input id="title" name="title" required>
        </div>

        <div class="form-row">
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" rows="20" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary ">Publish</button>
      </form>
    </div>
  </div>
</main>

<%- include("./partials/footer.ejs") %>